<header>
    <section class="container-fluid">
        <h2>Vaccine Watcher</h2>
        <p>Keeping track of your vaccines</p>
    </section>
</header>
<main>
    <div class="container-fluid">
        <form>
            <h3 class="form-signin-heading">Please Sign In</h3>
            <div class="form-group">
                <input class="form-control" type="text">
                <input class="form-control" type="password">
                <button class="btn btn-info" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</main>
<footer>
    
</footer>